@model UFei.Storage.Entity.Permission.T_Role
@{ Layout = "~/Views/Shared/_LayoutForm.cshtml";
	List<SelectListItem> selectListItem = new List<SelectListItem>() {
new SelectListItem() { Value = "1", Text = "管理员" },
new SelectListItem() { Value = "2", Text = "普通用户" }};}
<form class="layui-form layui-form-pane ok-form" lay-filter="formSave">
	@Html.HiddenFor(x => x.Id, Model.Id)
	<div class="layui-form-item">
		<div class="pl-form-line">
			@Html.LabelFor(m => m.RoleName, new { @class = "layui-form-label xrequired" })
			<div class="pl-form-input-block">
				@Html.TextBoxFor(m => m.RoleName, new { @class = "layui-input", @placeholder = "请输入" + Html.DisplayNameFor(m => m.RoleName) })
				@Html.ValidationMessageFor(m => m.RoleName)
			</div>
		</div>
		<div class="pl-form-line">
			@Html.LabelFor(m => m.RoleType, new { @class = "layui-form-label xrequired" })
			<div class="pl-form-input-block">
				@Html.DropDownListFor(m => m.RoleType, selectListItem, new { @lay_search = "" })
				@Html.ValidationMessageFor(m => m.RoleType)
			</div>
		</div>
		<div class="pl-form-line">
			@Html.LabelFor(m => m.Remark, new { @class = "layui-form-label" })
			<div class="pl-form-input-block">
				@Html.TextBoxFor(m => m.Remark, new { @class = "layui-input", @placeholder = "请输入" + Html.DisplayNameFor(m => m.Remark) })
				@Html.ValidationMessageFor(m => m.Remark)
			</div>
		</div>
		<div class="pl-form-line">
			@Html.LabelFor(m => m.Sort, new { @class = "layui-form-label" })
			<div class="pl-form-input-block">
				@Html.TextBoxFor(m => m.Sort, new { @class = "layui-input", @placeholder = "请输入" + Html.DisplayNameFor(m => m.Sort) })
				@Html.ValidationMessageFor(m => m.Sort)
			</div>
		</div>
		<div class="pl-form-line">
			<label class="layui-form-label xrequired">是否启用</label>
			@Html.EnabledMarkSelectHtml()
		</div>
	</div>
	<div class="layui-form-item">
		<div class="pl-item-input-block">
			<button class="layui-btn" lay-submit lay-filter="save">保存</button>
			<button type="button" class="layui-btn layui-btn-primary" id="close">取消</button>
		</div>
	</div>
</form>
<script type="text/javascript">
	layui.use(["form", "okLayer", "okUtils"], function () {
		let form = layui.form;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;

		form.on("submit(save)", function (data) {
			okUtils.ajax("/System/Role/Save", "post", data.field, true).done(function (res) {
				okLayer.greenTickMsg(res.Msg, function () {
					CloseWin();
				});
			}).fail(function (error) {
				console.log(error);
			});
			return false;
		});
	});
</script>