@model UFei.Storage.Entity.Permission.T_User
@{ Layout = "~/Views/Shared/_LayoutForm.cshtml";}
<form class="layui-form layui-form-pane ok-form" lay-filter="formSave">
	@Html.HiddenFor(x => x.LoginAccount, Model.LoginAccount)
	@Html.HiddenFor(x => x.DepartmentName, Model.DepartmentName)
	<div class="layui-form-item">
		<div class="pl-form-line">
			@Html.LabelFor(m => m.RealName, new { @class = "layui-form-label xrequired" })
			<div class="pl-form-input-block">
				@Html.TextBoxFor(m => m.RealName, new { @class = "layui-input", @placeholder = "请输入" + Html.DisplayNameFor(m => m.RealName), @maxlength = "20" })
				@Html.ValidationMessageFor(m => m.RealName)
			</div>
		</div>
		<div class="pl-form-line">
			@Html.LabelFor(m => m.Phone, new { @class = "layui-form-label xrequired" })
			<div class="pl-form-input-block">
				@Html.TextBoxFor(m => m.Phone, new { @class = "layui-input", @placeholder = "请输入" + Html.DisplayNameFor(m => m.Phone), @maxlength = "11" })
				@Html.ValidationMessageFor(m => m.Phone)
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="pl-item-input-block">
			<button class="layui-btn" lay-submit lay-filter="save">保存</button>
		</div>
	</div>
</form>
<script type="text/javascript">
	layui.use(["form", "okLayer", "okUtils"], function () {
		let form = layui.form;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;

		form.on("submit(save)", function (data) {
			okUtils.ajax("/System/User/UserUpdateInfo", "post", data.field, true).done(function (res) {
				okLayer.greenTickMsg(res.Msg, function () {
					parent.$(".ok-refresh").click();//刷新当前tab
				});
			}).fail(function (error) {
				console.log(error);
			});
			return false;
		});
	});
</script>